@import "tailwindcss";
@plugin "@iconify/tailwind4";
:root {
    --background: #FEFCF6;
    --foreground: #171717;

    /* Brand colors */
    --color-main: #221192; /* Roadshow main */
    --color-purple: #C896FF; /* Purple accent */
    --color-macopa: #ED5D4B; /* Macopa accent */
    --color-guava: #16D06D; /* Guava accent */
    --color-mangga: #F2C94C; /* Mangga accent */
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-body: var(--font-body);
    --font-headline: var(--font-headline);
    --font-mono: var(--font-mono);

    /* Brand colors */
    --color-main: var(--color-main);
    --color-purple: var(--color-purple);
    --color-macopa: var(--color-macopa);
    --color-guava: var(--color-guava);
    --color-mangga: var(--color-mangga);
}


body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headline), Arial, Helvetica, sans-serif;
}
